body {
    background: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  
  
  
  .window,
  .box,
  ul,
  li {
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
  }
  
  ul {
    font-family: 'Fjalla One', sans-serif;
    list-style-type: none;
    text-transform: uppercase;
  }
  
  li {
    display: inline-block;
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  
 
  

  .window {
    
    height: 480px;
    margin: 2em auto 0;
    width: 400px;
  }
  
  
  
  
  
  .header img {
    border: 5px solid rgba(122, 120, 120, 0.37);
    border-radius: 100%;
    height: 240px;
    margin: 4em auto 2.5em;
    object-fit: cover;
    width: 240px;
  }
  
  .header h2 {
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: -2px;
    margin: 0 auto;
    padding: 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  }
  
  .header h4 {
    color: rgba(255, 255, 255, 0.75);
    display: block;
    font-size: 15px;
    margin: 0 auto;
    padding: 5px 0 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
  }
  
  .footer {
    background: rgba(0, 97, 145, 0.75);
    bottom: 0;
    color: #FFF;
    left: 0;
    position: absolute;
    text-align: center;
    top: 380px;
    width: inherit;
  }
  
  .footer ul {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    padding: 20px 20px;
  }
  
  .footer li:first-child {
    border: 0;
  }
  
  .footer li {
    border-left: 2px solid rgba(255, 255, 255, .15);
    font-family: 'Quicksand', sans-serif;
    padding: 0 4px 0 6px;
    width: 100%;
  }
  
  .footer a span {
    color: #9CDFF5;
    display: inline-block;
    font-size: 26px;
    padding: 0 4px 0 0;
    vertical-align: middle;
  }